@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

/* КИЛЛЕР-ФИЧА: Эффект старинной бумаги / зерна кинопленки */
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  /* Генерируем фрактальный шум прямо через CSS */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.05; /* Едва заметный шум */
  pointer-events: none; /* Чтобы шум не мешал кликать на кнопки */
  z-index: 9999;
}